/node_modules

/public/storage
/public/chat-images
/public/css
/public/fonts
/public/images
/public/products-images
/public/js
.htaccess
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
